* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
  /* to debug overflow x */
  /* outline: 1px solid red; */
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}